.headerMenu {
  justify-content: space-between;

  .mobileHeader {
    padding-top: var(--spacing-1);

    @media screen and (min-width: $breakpoint) {
      &.isPC {
        display: none;
      }
    }
  }

  .pcHeader {
    display: none;

    .link {
      color: var(--white);
    }

    @media screen and (min-width: $breakpoint) {
      &.isPC {
        display: flex;
        padding-right: var(--spacing-5);
        width: 50%;
      }
    }
  }
}
